:root{
  font-size: medium;
}
.App{
  margin-top: 3rem;
  padding-left: 15rem;
  padding-right: 15rem;
  padding-top: 2.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 3rem;
}
.card{
  background-color: rgb(167, 221, 224);
}
#button{
  font-size: 50px;
}
